* {
	box-sizing: border-box;
}

body {
	font-size: 1.35em;
	font-family: Roboto, sans-serif;
	color: #fff;
	background: #e8e9e9;
	padding-left: 2%;
	padding-right: 2%;
}

h1, p {
  color: gray;
}

.container,
.buttons {
	padding: 10px;
	background: #fff;
  border-radius: 5px;
	width: 100%;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  display: flex;
}

.buttons {
  margin-top: 10px;
}

.name li {
  width: 120px;
}

li {
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	background: #3db5da;
	list-style: decimal inside;
	text-align: left;
}

button {
  padding: 20px;
  background-color: #E74C3C;
  border-radius: 5px;
  font-size: 28px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  flex-grow: 1;
}

@media print {
  .buttons {
    display: none;
  }
  h1 {
    text-align: center;
    font-size: 30px;
    bottom: 0;
  }

  .big-container,
  .container {
    margin-top: 0;
  }

  li {
    color: black;
    margin: 0;
  }
  p {
    display: none;
  }
}

@media (max-width: 430px) {
  .container,
  .buttons {
    flex-wrap: wrap;
  }
}
